<header>
	<script type="text/javascript" src="ipCalc.js"></script>
</header>

<h1>Open console</h1>


<script type="text/javascript">
		
		console.log("ipCalc.calcNetParams('192.168.1.0', '255.255.255.0')");
		console.log(ipCalc.calcNetParams('192.168.1.0', '255.255.255.0'));
		console.log('=============================================');
		
		console.log("ipCalc.isNetClient('192.168.1.0', '255.255.255.0', '192.168.1.123')");
		console.log(ipCalc.isNetClient('192.168.1.0', '255.255.255.0', '192.168.1.123'));
		console.log('=============================================');

		console.log("ipCalc.isNetClient('192.168.1.0', '255.255.255.0', '192.168.2.123')");
		console.log(ipCalc.isNetClient('192.168.1.0', '255.255.255.0', '192.168.2.123'));
		console.log('=============================================');

		console.log("ipCalc.isNetClient('192.168.1.0', '255.255.255.0', '192.168.1.255')");
		console.log(ipCalc.isNetClient('192.168.1.0', '255.255.255.0', '192.168.1.255'));
		console.log('=============================================');

		console.log("ipCalc.isNetClient('192.168.1.0', '255.255.255.0', '192.168.1.0')");
		console.log(ipCalc.isNetClient('192.168.1.0', '255.255.255.0', '192.168.1.0'));
		console.log('=============================================');


		console.log("ipCalc.findOptSubnet('192.168.1.0', '192.168.1.255')");
		console.log(ipCalc.findOptSubnet('192.168.1.0', '192.168.1.255'));
		console.log('=============================================');

		console.log("ipCalc.findOptSubnet('192.168.1.0', '192.168.1.22')");
		console.log(ipCalc.findOptSubnet('192.168.1.0', '192.168.1.22'));
		console.log('=============================================');
		
		console.log("ipCalc.findOptSubnet('192.168.1.0', '192.168.2.0')");
		console.log(ipCalc.findOptSubnet('192.168.1.0', '192.168.2.0'));
		console.log('=============================================');
		
</script>